h2{
  font-family: 'Poiret One', cursive;
}
hr{
  width: 100px;
  margin: 0;
  margin-bottom:: 10px;
}
/*p{
 position: absolute;
 display: inline-block;
}*/
.cont{
  position: relative;
  display: inline-block;
}
.name{
  position: absolute;
  bottom: 0px;
  left: 100px;
  color: black;
  background-color: lightgrey;
  padding-left: 2px;
  padding-right: 2px;
}
.contenedor{
  width: 600px;
  height: 600px;
}
/*.contenedor1{
  width: 500px;
  height: 100px;
  margin-bottom: 0;
  position: relative;
}
.contenedor2{
  width: 500px;
  height: 200px;
  margin-bottom: 0;
  position: relative;
} */
.imagen{
  width: 150px;
  height: 150px;
  margin: 5px;
}
